@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Amethysta', serif;  
    text-decoration: none;
    list-style-type: none; 
}

header
{
    height: 80px;
    width: 100%;
    padding: 0px 50px;   
    box-shadow: rebeccapurple 0px 8px 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top,#7F00FF, #E100FF);
}

header img
{
    height: 100%;
}

.navbar ul
{
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbarLink
{
    text-decoration: none;
    color: black;
    font-weight: 400;
    cursor:pointer;
   
}

body
{
    background-color: rgb(120, 200, 247);
  
}
/*main*/

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero
{
    display: flex;    
    justify-content: space-around;
    padding: 70px 0;
    width: 90%;    
}

.heroInfo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
 }

 .heroInfo h1
 {
     font-weight: 800;    
     font-size: 80px;
    display: flex;
    flex-direction:column;
    font-family: 'Dancing Script', cursive;
 }

 .heroInfo h1 > span 
 {    
    font-size: 90px;
    font-family: 'Dancing Script', cursive;
    padding: 0px 30px;
 }
 
 .heroInfo p
 {
     font-weight: 800;
     font-size: 25px;    
     display: flex;     
     justify-content: center;
 }


 .botones
 {
    display: flex;
    gap: 30px;
 }

 .botones a
 {
    text-decoration: none;
    border: 3px;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 500;    
 }

 .b-uno
 {
    background: linear-gradient(0deg, rgba(210,10,215,1) 11%, rgba(136,34,219,1) 100%);
    -webkit-background-clip: border-box;
    background-clip: border-box;     
    color: white;
    box-shadow: rebeccapurple 0px 8px 24px;
 }

 .b-dos
 {
    background: linear-gradient(0deg, rgba(210,10,215,1) 11%, rgba(136,34,219,1) 100%);
    -webkit-background-clip:border-box;
    background-clip: border-box; 
    color: white;
    box-shadow: rebeccapurple 0px 8px 24px;
 }

.alfaChoco{
    width: 600px;
    border-radius: 30px;
    border: 5px solid #8000ff59;
    box-shadow: rebeccapurple 0px 8px 24px;
}

#heroTexto
{
    display: flex;     
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;     
    max-width: 800px; 
    font-size: 20px;
    padding: 40px 0px;
    font-weight: 800;   
}

