@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Amethysta', serif;  
    text-decoration: none;
    list-style-type: none; 
}

header
{
    height: 80px;
    width: 100%;
    padding: 0px 50px;   
    box-shadow: rebeccapurple 0px 8px 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top,#7F00FF, #E100FF);
}

header img
{
    height: 100%;
}

.navbar ul
{
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbarLink
{
    text-decoration: none;
    color: black;
    font-weight: 400;
    cursor:pointer;
   
}

body
{
    background-color: rgb(120, 200, 247);
  
}

#hero
{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.heroInfo
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 30px;   
}

.heroInfo a
{     
    color:black;
    border: transparent 1px;    
    border-radius: 10px;
    text-align: center;
    font-size: 19px;    
    background: rgb(87, 3, 121);

   
}

.heroInfo li
{
    display: flex;
    align-content: space-between;
}

#hero img{
    margin: 0px 20px;
    height: 300px;
    border: solid 4px;
    border-radius: 30px;
    color: #c20aa96e;
}

.heroInfo h1
{
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 48px;
    width: 80%;
    min-width: 500px;    
    color: black; 
    
}

.heroInfo p
{
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#heroTexto
{
    margin-top: 20px;
    padding: 70px 0;
    max-width: 1200px;    
}

.info p{
    display: flex;     
    text-align: center;    
    font-size: 20px;
    font-weight: 800;
    padding-left: 60px;   
}


